{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="Change_password-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">You can now change your password</h3>
                </div>
                <div class="panel-body">
                    <!--form method="post" action="{% url 'register' %}"-->
                    <form method="post">
                        <p class="bs-component">
                        <table border="0">
                           {% csrf_token %}
                           {{ form.as_p }}
                        </table>
                        </p>
                        <p class="bs-component">
                            <center>
                                <input class="btn btn-success btn-sm" type="submit" value="Save" />
                                <a href="javascript:history.go(-1)" class="button btn btn-info" button type="button">Cancel</a>
                            </center>
                        </p>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}

{% block javascript %}


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}