{% extends 'tithe/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="Profile-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">this my profile</h3>
                </div>
                <div class="panel-body">
                    	<p class="bs-component">
                        <table border="0"> 
                            <p>
                                <p>Username: {{ user }}</p>
                                <p>First name: {{ user.first_name }}</p>
                                <p>Last name: {{ user.last_name }}</p>
                                <p>Email: {{ user.email }}</p>
                            </p>  
                        </table>
                    </p>
                     <p class="bs-component">
                            <center>
                             <a class="btn btn-success" href="{% url 'edit_profile'  %}"><span class="glyphicon glyphicon-pencil"></span></a>  
                       </center>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}

{% block javascript %}


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}